@import '../../../Common/Fonts/fonts.css';
@import '../../../Common/Color/color.scss';

.project-details{
            th {
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                font-family:Poppins;
                color: $color-font;
            }
            td{
                font-weight: 400;
                font-size: 14px;
                line-height: 14px;
                font-family:Poppins;
                color: $color-font;
            }
           
}