@import '../../../Common/Fonts/fonts.css';
@import '../../../Common/Color/color.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;

    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 5px;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #D9D9D9;
        border-radius: 10px;
    }
}

.add-member {
    .MuiTableHead-root {

        .MuiTableRow-root {
            th {
                background-color: $color-Lightblue;
                font-size: 16px;
                line-height: 16px;
                // font-family: Poppins;
            }
        }
    }


.MuiPaper-root{
    padding-right: 6px;
}


}

.add-member {
    .MuiBox-root {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 14px;
        color: $color-font;
        // font-family: Poppins;
    }
}

.add-member {
    .MuiPaper-root {
        ::-webkit-scrollbar {
            width: 6px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #D9D9D9;
            ;
            border-radius: 10px;
        }

        box-shadow: none !important;
    }
}