@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.MuiTextField-root.MultilineInput,
.MuiTextField-root.TextareaInput,
.MuiAutocomplete-root.comboboxInput,
.MuiFormControl-root.comboboxInput,
.MuiTextField-root.DisableInput,
.MuiTextField-root.DateInput,
.MuiAutocomplete-root .MuiFormControl-root.SelectInput {
    .MuiOutlinedInput-root {
        color: #292D32;
        background-color: #FFFFFF;
        border: none;
        border-radius: 6px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        &:hover .MuiOutlinedInput-notchedOutline {
            border: 0.4px solid #0F3673;
        }

        &:not(:focus) .MuiOutlinedInput-notchedOutline {
            border: 0.4px solid #0F3673;
        }

        .MuiOutlinedInput-notchedOutline {
            border: 0.4px solid #0F3673;
        }
    }

    .MuiInputLabel-root,
    .MuiOutlinedInput-input {
        line-height: 16px;
    }

    .MuiInputLabel-formControl.Mui-focused {
        color: #292D32;
        opacity: 0.4;
    }

    /* V2
    .MuiInputLabel-root,
    .MuiOutlinedInput-input,
    .MuiInputLabel-formControl.Mui-focused {
        color: #292D32;
        opacity: 0.4;
    }
    */
}

.MuiAutocomplete-root .MuiFormControl-root.SelectInput {
    .MuiInputLabel-root {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    .MuiOutlinedInput-root {
        padding: 16px;

        .MuiOutlinedInput-input {
            padding: 0;
        }
    }
}

.MuiAutocomplete-popper {

    li:hover {
        background-color: #068FDB !important;
        color: #FFFFFF;
    }

    li:focus {
        background-color: #068FDB !important;
    }

    .MuiAutocomplete-listbox {
        background: #FFFFFF;
        border: 1px solid rgba(15, 54, 115, 0.12);
        border-radius: 6px;
    }
}

.MuiAutocomplete-popper li:hover {
    background-color: #000000;
}

.MuiTextField-root.MultilineInput {
    .MuiOutlinedInput-root {
        padding: 16px 15.58px;
    }

    .MuiOutlinedInput-input {
        height: 16px !important;
    }
}

.MuiTextField-root.TextareaInput {
    .MuiOutlinedInput-root {
        padding: 16px 2px 16px 23.87px;
    }

    .MuiFormHelperText-root {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        opacity: 0.4;
        margin-left: 0;
        margin: 8px 0 0 0;
    }

    .MuiOutlinedInput-input {
        height: 64px !important;

        &::-webkit-scrollbar {
            width: 6px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background-color: #D9D9D9;
            border-radius: 24px;
        }
    }
}

.MuiAutocomplete-root.comboboxInput {
    .MuiOutlinedInput-root {
        padding: 16px;

        .MuiAutocomplete-input {
            padding: 0;
            height: 16px;
        }
    }
}

.MuiFormControl-root.comboboxInput {
    width: 100%;

    .MuiInputLabel-root {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #292D32;
    }

    .MuiOutlinedInput-root {
        .MuiSelect-select {
            padding: 16px;
            min-height: 16px;
        }

        svg {
            position: absolute;
            top: calc(50% - 11px);
            right: 9px;
            cursor: pointer;
        }

        .MuiSelect-icon:hover {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}

.MuiTextField-root.DisableInput {
    .MuiOutlinedInput-root {
        background-color: rgba(15, 54, 115, 0.1);
    }

    .MuiOutlinedInput-input {
        padding: 16px;
        height: 16px;
    }
}

.MuiTextField-root.DateInput,
.MuiTextField-root.SelectInput {
    width: 100%;

    .MuiOutlinedInput-input {
        padding: 16px;
        height: 16px;
    }
}

.MuiTextField-root.SelectInput {
    .MuiOutlinedInput-root {
        color: white
    }
}

.MuiFormControl-root.SelectInput {
    .MuiInputLabel-root {
        top: -3px;
    }

    .MuiOutlinedInput-root {
        cursor: pointer;

        .MuiSelect-select {
            padding: 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
        }

        .MuiSelect-select {
            min-height: 16px;
        }

        svg {
            position: absolute;
            top: calc(50% - 11px);
            right: 9px;
        }

        .MuiSelect-icon:hover {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}