@import '../../../Common/Fonts/fonts.css';
@import '../../../Common/Color/color.scss';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
  }
//   .MuiModal-root{
//     .MuiBox-root{
//         .MuiGrid-root{
//             .MuiTypography-root{
//                font-family: Poppins,sans-serif;
//                font-weight: 500;
//                font-size:18px;
//                line-height: 140%;
//                color:#000000;
//                text-align: center;
              
//             }
//         }
//     }
// }

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
  position: absolute!important;
  width: 100%!important;
  height: 100%!important;
  left:0px!important;
  top:0px!important;
  backdrop-filter: blur(6px)!important;
  background-color: $color-blur!important;
}
    .styleplan{
        position: absolute;
        // width: 88%;
        // height:69%;
        width:1280px;
        height:524px;
        left:0%;
        top:0%;
        right:0%;
        bottom:0%;
        background-color: $color-white;
        border-radius: 6px;
        box-shadow: 0px 2px 16px $color-shadow;
        padding-top:32px;
        padding-left:16px;
        padding-right:16px;
        padding-bottom:32px;
        margin:auto;
    }

    .div-addplan{
  position: absolute;
   right: -1%;
   top: -2%;
    }

