@import '../../../Common/Fonts/fonts.css';
@import '../../../Common/Color/color.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
}
.add-team{
    .MuiTableHead-root {

        .MuiTableRow-root {
            th {
                background:none;
                font-size: 16px;
                line-height: 16px;
                font-weight: 700;
                // font-family: Poppins;
            }
        }
    }
}

.add-team{
    .MuiBox-root{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 14px;
        color: $color-font;
        // font-family:Poppins;

       
    }
}
.add-team{
    .MuiTableRow-root{
        td:nth-child(1){
            width: 20%;
        }
    }
}
