$color-Lightblue:#068FDB;
$color-Plaedblue:#F4FAFF;
$color-purple:#FF0055;
$color-white:#FFFFFF;
$color-green:#6FC03D;
$color-black:#000000;
$color-font:#292D32;
$color-blur:rgba(244, 250, 255, 0.75);
$color-shadow:rgba(41, 45, 50, 0.12);
$color-inputBorder: #0F3673;
$color-scrollbarThumb: #D9D9D9;
$color-comboboxSelect: #068FDB;
$color-selectIconHover: rgba(0, 0, 0, 0.04);