@import '../../Common/Fonts/fonts.css';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
}

.MuiTableHead-root {

    .MuiTableRow-root {
        th {
            background-color: #068FDB;
            font-size: 16px;
            line-height: 16px;
            font-family: Poppins;
        }
    }
}
.MuiBox-root{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    color: #292D32;
    font-family: Poppins;
}

